body {
    background-color: rgb(24, 229, 54)
}
a {
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
.text_blue
{
    color:blue
}
h1, h2, h3, h4, h5, h6 {
    text-transform:uppercase;
}
nav a {
    color:red;
}
.blandine{
    color:red;
}
.blandine:hover {
        text-transform: uppercase;
}

#chap1 {
    border: 5px dashed blueviolet;
    width: 50%;
    height: 300px;
    float: left;
}

#chap2 {
    border: 5px dashed orangered;
    width: 40%;
    height: 300px;
    float: left;
}

#principal {
    width:960px;
}

section {
    text-align: center;
}

footer {
    clear:both;
}